@charset "utf-8";


@font-face {
	font-family: LuckiestGuy;
	src: url('LuckiestGuy.ttf');
}
@font-face {
	font-family: Overlock;
	src: url('Overlock-Black.ttf');
}
@font-face {
	font-family: Cagliostro;
	src: url('Cagliostro-Regular.ttf');
}

body {
	font-family: 'Overlock', sans-serif;
	background: #FFC;
	margin: 0px 15px;
	background-image:url('../imatges/logo_ins_petit.svg'),url('../imatges/m06.svg');
	background-position: center center, 5px 40px;
	background-repeat: repeat, no-repeat;
}
header {
	font-family: 'LuckiestGuy',sans-serif;
	font-size: 30px;
	font-weight: bold;
	background: #FC9;
	padding-top: 5px;
	text-align: center;
	color: crimson;
	text-shadow: 2px 2px black;
}

footer {
	position:absolute;
	bottom:0;
	width:98%;
	height: 20px;
	text-align: center;
	letter-spacing: .1px;
	font-family: 'Cagliostro', sans-serif;
	font-size: .8em;
	background: #CCCCFF;
	color: darkblue;
	padding:3px 0px 0px 0px;
	margin: 0px;
	background-image: url("../imatges/angel.png");
	background-size: 4%;
	background-position: center right;
	background-repeat: no-repeat;
}

footer span{
	color: white;
	font-weight: bold;
	padding-left: 25px;
}
.esquerre{
	width: 45%;
	height: 70%;
	float: left;
}

.dreta{
	width: 46%;
	height: 70%;
	float: right;
}
.amunt{
	width: 96%;
	height: 40%;
}
.avall{
	width: 98%;
	height: 30%;
}
#control{
	color: green;
	border: 2px solid green;
	font-size: 2em;
	padding: 20px;
}

#explicacio{
	color: blue;
	font-size: 2em;
	font-family: 'Cagliostro', sans-serif;
	font-size: 1em;
}

#temps{
	position:absolute;
	bottom:30px;
	width:98%;
	color:white;
	text-align: center;
	font-size:2em;
	padding:3px;
	text-shadow: 2px 2px 2px black;
	
}

input{
	display:block;
}
input[type="button"]{
	display:inline;
	margin: 10px 30px 10px auto;
	padding:5px 40px;
	-webkit-box-shadow: 5px 5px 5px #777; /* for Chrome + Safari */
    -moz-box-shadow: 5px 5px 5px #777; /* for Firefox */
    box-shadow: 5px 5px 5px #777; 
}
input[name="btn_dec"]{
	margin: 10px auto 10px 30px;
}
label{
	diaplay:block;
	font-size: 16px;
}
fieldset{
	margin: 30px 0;
	text-align: center;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	border-radius:10px;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(black));
    background: -webkit-linear-gradient(top, black, white);
    background: -moz-linear-gradient(top, gold, white);
    background: -o-linear-background(top, black, white);
    background: -ms-linear-background(top, black, white);
    background: linear-background(top, black, white);
    
    border: 2px solid darkred;
}

legend{
	color:darkred;
	font-size:18px;
	font-family: 'Cagliostro', sans-serif;
}
input[type="reset"]{
	margin: 30px auto 0px;
	padding: 30px 20px;
	border-radius:50%;
	-webkit-border-radius:50%;

}
